* {
  box-sizing: border-box;
}

body {
  background-image: url('Swiss.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


#directions {
  background-color: #6FE87A;
  padding: 10px;
}

header {
  padding: 20px;
  font-style: strong;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto Mono', cursive;
  background-position: 1% 30%;
  background-repeat: no-repeat;
}

/* Styling the Header*/
navigation {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto Mono', cursive;
}

a {
  color: navy;
}



li {
  display: inline;
  padding: 10px 10px 10px 10px;
  background-image: url("https://i.imgur.com/Fdnnrxj.jpg");
  background-size: auto;
  background-position: center;
  border-width: thin;
  border-radius: 10px;
}

li.home {
  font-size: 20px;
  font-style: strong;
}

  .parent{
    position: relative;
    top: 0;
    left: 0;
  }

  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }

  .singapore {
    position: absolute;
    top: 350px;
    left: 950px;
  }

  .Vietnam {
    position: absolute;
    top: 315px;
    left: 965px;
  }

  .Switzerland {
    position: absolute;
    top: 200px;
    left: 640px;
  }

  figure{
    display:inline-block;
  }

  figcaption{
    text-align: center;
  }

div.transbox {
    margin: 30px;
    font-weight: bold;
    background: rgba(155, 155, 155, 0.6);


/* Style the footer*/
/* footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;*/
}

/* Fixed, non-scrolling map on the left column */
.fixed-map {
  position: sticky;
  top: 0;
}

/* Responsive layout - makes the tow columns/boxes stack on top of each other
instead of next to each other, on small screens
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}*/

/* Makes the tables responsive so that when theya re displayed on a small screen
they will be displayed on top of one another rather than side-by-side */
@media (max-width: 600px) {
  col-lg-6 fixed-map, col-lg-6 {
    width: 100%;
    height: auto;
  }
}

div.gallery img {
    width: 100%;
    height: auto;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;

    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
