* {
  box-sizing: border-box;
}

body {
  background-image: url('https://imgur.com/ahRMjfO.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body.vietnam {
  background-image: url('rice_fields.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


#directions {
  background-color: #6FE87A;
  padding: 10px;
}

header {
  padding: 20px;
  font-style: strong;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-family: 'Roboto Mono', cursive;
  background-position: 1% 30%;
  background-repeat: no-repeat;
}

  .TitleText{
  font-size: 100px;
  font-family: 'Allerta Stencil';
  text-align: center;
}

.Cousine_TitleText{
  font-size: 40px;
  font-family: 'Cousine';
  color: black;
}

.container-fluid {
  padding: 0px 0px 50px 0px;
}

.Cousine_Text{
  font-size: 15px;
  font-family: 'Cousine';
}

.ParagraphText{
  font-size: 20px;
  font-family: 'Source Sans Pro';
}

.ParagraphHeader{
  font-size: 30px;
  font-family: 'Black Han Sans';
}

.ParagraphSubHeader{
  font-size: 25px;
  font-family: 'Black Han Sans';
}

.ParagraphSignOff{
  font-size: 28px;
  font-family: 'Sedgwick Ave';
}

.navigation {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto Mono', cursive;
}

a {
  color: navy;
}

li.navigation {
  display: inline;
  padding: 10px 10px 10px 10px;
  background-image: url("https://imgur.com/FXNoHj3.jpg");
  background-size: auto;
  background-position: center;
  border-width: thin;
  border-radius: 10px;
}



li.home {
  font-size: 20px;
  font-style: strong;
}

  .parent{
    position: relative;
  }


    .person{
      width: 200px;
      height: 200px;
      border-radius:90px;
      border: solid white 3px;
          position: center;
          text-align: center;

  }





  figure{
    display:inline-block;
  }

  figcaption{
    text-align: center;
  }

div.transbox {
    margin: 30px;
    font-weight: bold;
    background: rgba(217, 225, 225, 0.8);
    /*background: rgba(218, 232, 231, 0.8);
    background: rgba(155, 155, 155, 0.6);*/


/* Style the footer*/
/* footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;*/
}


/* Fixed, non-scrolling map on the left column */
.fixed-map {
  position: sticky;
  top: 0;
}

@media screen and (min-width: 992px){
  .fixed-map{
    display:sticky;
    top:0;
  }
}


/* Makes the tables responsive so that when they are displayed on a small screen
they will be displayed on top of one another rather than side-by-side */
@media (max-width: 600px) {
  col-lg-6 .fixed-map, col-lg-6 {
    width: 100%;
    height: auto;
    position: relative;
  }
}
@media screen (max-wdith: 600px){
  .Cousine_TitleText {
    color: white;
  }
}



    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

#map{
  height:500px;
  width: 100%;
}
