




header {
  padding: 20px 0px 5px 0px;
  text-align: center;
  background-size: cover;
  font-size: 15px;
  font-family: 'Roboto Mono', cursive;
  position: fixed;
  z-index: +3;
  text-align: center;
top: 0;
  width: 100%;
}


a {
  color: navy;
}
h2{
  font-family: 'Roboto Mono' cursive;
  font-size:15px;
}

body {
text-align: center;
}

li{
  background-color:white;
}

li{
  display: inline;
 padding: 10px 10px 10px 10px;
 background-image: url("https://i.imgur.com/Fdnnrxj.jpg");
 background-size:auto;
 background-position: center;
 position:relative;
 border-width: thin;
 border-radius: 10px;
}

li.home {
  font-size: 20px;
  font-style: strong;
}

ul.vietnam{
  background: none;
}

.parent {
  position: relative;
}
.image1 {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 1100px;
  height: 580px;
}
.singapore {
  position: absolute;
  top: 400px;
  left: 828px;
  }

.vietnam {
  position: absolute;
  top: 365px;
  left: 840px;
}

.Switzerland {
position: absolute;
top: 250px;
left: 525px;

}

footer {

padding: 20px 20px 20px 20px;
position:absolute;
bottom: 00px;
left: 600px ;

    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer a{

  padding: 2px;
}
