header {
  text-align: center;
  /*background: #b0e0e6;*/
  background-size: cover;
  color: #127cd4;
  font-size: 15px;
  font-family: 'Roboto Mono', cursive;
}
a {
  color: navy;

}

img {
margin: -7000px, -700px;
margin: 100px, auto;
border-radius: -500px;
text-align: center;
}

body {
text-align: center;

}



li {
  display: inline;
 padding: 10px 10px 10px 10px;
 background-image: url("https://i.imgur.com/Fdnnrxj.jpg");
 background-size:auto;
 background-position: center;
 position:relative;
 border-width: thin;
 border-radius: 10px;


}
li.home {
  font-size: 20px;
}
footer {
display: center;
text-align: center;
background-size: cover;
 margin: 100px, auto;
border-radius: 500px;
padding: 100px, 100px;
}
