header {
  text-align: center;
  background-size: cover;
  font-size: 15px;
  font-family: 'Roboto Mono', cursive;
}
a {
  color: navy;
}

body {
text-align: center;
}


li {
  display: inline;
 padding: 10px 10px 10px 10px;
 background-image: url("https://i.imgur.com/Fdnnrxj.jpg");
 background-size:auto;
 background-position: center;
 position:relative;
 border-width: thin;
 border-radius: 10px;
}

li.home {
  font-size: 20px;
  font-style: strong;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: absolute;
  top: 0;
  left: 0;
}
.singapore {
  position: absolute;
  top: 350px;
  left: 950px;
  }

.vietnam {
  position: absolute;
  top: 315px;
  left: 965px;
}

.Switzerland {
position: absolute;
top: 200px;
left: 640px;

}

figure{
  display:inline-block;
}
figcaption{
  text-align: center;
}



footer {
text-align: center;
}
