header {
  text-align: center;
  background: #b0e0e6;
  background-size: cover;
  color: #127cd4;
  font-size: 40px;
  font-family: 'Lobster', cursive;
}
a {
  color: #127cd4;

}
body {
text-align: center;
       background-size: cover;
}
img {
background-size: cover;
border-radius: 100px;
padding: 100px,100px,100px,100px;
display: center;
margin: 100px, auto;
}
ul {
  padding: 10px;

}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
li.home {
  font-size: 50px;
}
footer {
display: left;
background-size: cover;
 margin: 100px, auto;
border-radius: 500px;
padding: 100px, 100px;
}

figure{
  display:inline;
}
figcaption{
  text-align:center;
}
